<article class="comment" data-id="{{ $parent.comment.id }}">
  <h4>{{ $parent.comment.title }}</h4>
  <span class="like" ng-class="{ liked: $parent.alreadyLiked($parent.comment.id) }" ng-click="$parent.toggleLike($parent.comment.id)">
    <i class="fa fa-thumbs-o-up"></i>
    <span class="like_count">{{ $parent.comment.like_count }}</span>
  </span>
  <p class="info">{{ $parent.comment.created_at | dateTimeFormat }} &middot; {{ $parent.comment.username }}</p>
  <ul ng-if="$parent.comment.tag" class="tags">
    <li>{{ $parent.$parent.comment.tag }}</li>
  </ul>
  <div class="parent-preview">
    <p ng-repeat="(index, paragraph) in previewParagraphs track by index">{{ paragraph }}</p>
    <button class="readparent">Lue lisää</button>
  </div>
  <div class="body">
    <p ng-repeat="(index, paragraph) in paragraphs track by index">{{ paragraph }}</p>
    <button class="readmore">Lue lisää</button>
  </div>
  <div ng-if="!$parent.comment.parent_preview" comment-adder size="small" hearing-id="{{ $parent.hearingId }}" button-text="Kommentoi" context-list="comment-{{ $parent.$parent.comment.id }}:comment"></div>
</article>
