<footer>
  <div class="container">
    <div class="content">
      <div class="brand">
        <img src="{{ url_for('static', filename='images/helsinki-coat-of-arms-black.png') }}" alt="Helsingin vaakuna">
        <a href="#">Kerrokantasi</a>
      </div>
      <div class="footer-links">
      <ul>
        <li>
          <a href="#">Kuulemiset</a>
        </li>
        <li>
          <a href="{{ url_for('static_pages.service_info') }}">Tietoa palvelusta</a>
        </li>
      </div>
      <div class="footer-login">
        <ul class="login">
          {% if current_user.is_authenticated() %}
            <li>{{ current_user.username }}</li>
            <li><a href="{{ url_for('auth.logout') }}">Kirjaudu ulos</a></li>
          {% else %}
            <li><a href="#">Rekisteröidy</a></li>
            <li><a href="{{ url_for('auth.login') }}">Kirjaudu</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
