<footer>
  <div class="container">
    <div class="brand">
      <span class="coat-of-arms"></span>
      <a href="{{ url_for('frontpage.index') }}">Kerrokantasi</a>
    </div>
    <div class="footer-links">
    <ul>
      <li>
        <a class="navbar-info-link" href="{{ url_for('hearing.index') }}">Kuulemiset</a>
      </li>
      <li>
        <a href="{{ url_for('static_pages.service_info') }}">Tietoa palvelusta</a>
      </li>
    </div>
    <div class="footer-login">
      {% include "_auth_links.html" %}
    </div>
  </div>
</footer>
