{% macro render_hearing_list_item(hearing) %}
  <li>
    <a href="{{ url_for('hearing.show', slug=hearing.slug) }}">
      <img src="http://placehold.it/120x100" alt="Kuulemisen kuvan paikkamerkki">
    </a>
    <ul class="tags small">
      <li>Kaavoitus</li>
      <li>Punavuori</li>
    </ul>
    <div class="content">
      <h3><a href="{{ url_for('hearing.show', slug=hearing.slug) }}">{{ hearing.title }}</a></h3>
      <span class="opened">
        Avattu
        <time datetime="{{ hearing.opens_at }}" class="opened">{{ hearing.opens_at|dateformat }}</time>
      </span>
    </div>
    <div class="info">
      <span class="days-open">
        <i class="fa fa-clock-o"></i>
        {{ hearing.days_open }} pv.
      </span>
      <span class="comments">
        <i class="fa fa-comment-o"></i>
        {{ hearing.comment_count }} kpl.
      </span>
    </div>
  </li>
{% endmacro %}


{% macro render_image(image, alt, class=none) %}
  <figure {% if class %}class="{{ class }}"{% endif %}>
    <img src="{{ image.image_url }}" alt="{{ alt }}">
    <figcaption>Kuva {{ image.number }}. {{ image.caption }}</figcaption>
  </figure>
{% endmacro %}
