<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} — Kerrokantasi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/favicon.ico">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename=get_asset_path('css', 'all.css')) }}">

    <script src="//use.typekit.net/kvt3bku.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body ng-app="kuulemmaApp" data-spy="affix" data-offset-top="138">
    {% include "_navbar.html" %}

    <div class="container">
      <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      {% include "_messages.html" %}
      {% block content %}{% endblock %}
    </div>

    {% include "_footer.html" %}

    <script src="{{ url_for('static', filename=get_asset_path('js', 'all.js')) }}"></script>
    <script>
      angular.module('kuulemmaApp').constant('CSRF_TOKEN', '{{ csrf_token() }}');
    </script>
    {% include "_uservoice_widget.html" %}
  </body>
</html>
