<div ng-controller="AddFeedbackController">
  <button class="open-feedback-box" ng-click="toggleFeedbackBox()">
    <i class="fa fa-exclamation-circle"></i>
    {{ buttonText || 'Anna palautetta palvelun prototyypistä' }}
  </button>

  <section ng-if="feedbackBoxOpen" class="feedback-box">
    <button class="close-button pull-right" ng-click="closeFeedbackBox()">X</button>
    <h1>Anna palautetta</h1>
    <p>Testaamme prototyyppiä. Kerro meille mitä ominaisuuksia, toimintoja ja sisältöjä tämä palvelu kaipaa!</p>
    <form class="form-horizontal" ng-submit="saveFeedback()">
      <textarea class="form-control" id="inputSubject" cols="30" rows="10" ng-model="form.content" required></textarea>
      <div class="form-group submit-group">
        <button class="btn btn-primary" type="submit">Lähetä</button>
      </div>
    </form>
  </section>
</div>
