{% extends "layout.html" %}

{% block title %}Hämeentie{% endblock %}

{% block content %}
  <div class="static-page">
    <div class="info-box">
      <p><strong class="lead">
        Miten Hämeentielle saataisiin mahtumaan jalankulkijat, pyöräilijät, autot ja joukkoliikenne?
      </strong></p>
      <p>
        Tähän kysymykseen lähdetään etsimään vastauksia, kun Hämeentien liikenne- ja katusuunnitelmien laadinta alkaa.
        Keskustelun pohjaksi Hämeentiestä on hahmoteltu kolme vaihtoehtoista lähestymistapaa. Voit ottaa kantaa hahmotelmiin tässä osoitteessa 26. marraskuuta alkaen.
      </p>
    </div>
  </div>
{% endblock %}
