{% extends "layout.html" %}

{% block title %}Tietoa palvelusta{% endblock %}

{% block content %}
  <div class="service-info">
    <h1>Tietoa Kerrokantasi.hel.fi –palvelusta</h1>
    <p>
      Kerrokantasi on Helsingin kaupungin ylläpitämä verkkopalvelu, jossa kuntalaiset voivat kertoa mielipiteensä ja tulla kuulluksi erityyppisistä valmisteluun tulevista tai valmistelussa jo olevista asioista. Mielipiteet ovat muiden nähtävinä ja kommentoitavina, ja niistä tuotetaan raportit ja yhteenvedot valmistelijoiden ja päättäjien käyttöön.
    </p>
    <p>
      Palvelu on testausvaiheessa, ja sen pilottikäytössä olevassa versiossa ei ole vielä kaikkia suunnitteilla olevia ominaisuuksia ja toiminnallisuuksia. Testiversion tarkoituksena on mielipiteiden keräämisen ohella saada palautetta myös itse palvelusta ja sen toiminnasta. Palautetta voi antaa joka sivulla sijaitsevan palautelaatikon kautta.
    </p>
      Kuntalaiset voivat seurata palvelun avulla myös kommentoimansa asian etenemistä ja arvioida annettujen mielipiteiden vaikutusta päätöksenteossa. Nyt testattavana olevasta versiosta puuttuu vielä mm. kyseessä olevan asian käsittelyn ja päätöksentekoprosessin seurantamahdollisuus. Se toteutetaan myöhemmin hyödyntäen kaupungin asianhallintajärjestelmän Ahjon avointa rajapintaa (OpenAhjo).
    <p>
    <p>
      Kerrokantasi-palvelun kehittäminen liittyy kaupungin strategiaohjelmaan 2013 - 2016 (Avoin ja osallistava Helsinki) ja tietotekniikkaohjelmaan 2012 -2015 (uusien vuorovaikutuskonseptien kehittäminen). Kuntalain 27 §:n mukaan kunnan on huolehdittava kuntalaisten edellytyksistä osallistua ja vaikuttaa kunnan toimintaan erityisesti selvittämällä asukkaiden mielipiteitä ennen päätöksentekoa.
    </p>
    <p>
      Palvelusta vastaa Helsingin kaupunginkanslia. Palveluun liittyviä kysymyksiä ja kehittämisehdotuksia voi lähettää palautelomakkeella.
    </p>
  </div>
{% endblock %}
