*[comment-list] {
  .latest-comments,
  .popular-comments {
    .make-column(6, 6, 6);
    border-top: none !important;
    margin-top: 30px !important;
    padding-top: 0 !important;
  }

  *[comment-list-item] {
    &.ng-enter,
    &.ng-leave {
      .transition(0.5s ease-in all);
      overflow: hidden;
      text-overflow: clip;
      white-space: nowrap;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
      width: 0px;
      height: 0px;
    }

    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
      width: auto;
      height: auto;
    }
  }

  .comment {
    position: relative;
    margin-top: @comment-external-margin;
    padding: @comment-padding;
    background-color: @gray-background;
    padding-bottom: 40px;

    h4 {
      margin-top: 0;
      margin-bottom: @comment-internal-margin;
    }

    .like {
      position: absolute;
      top: @comment-padding;
      right: @comment-padding;
      color: @text-color;

      &:hover {
        text-decoration: none;
        color: @text-color-soft;
      }
    }

    .info {
      padding-bottom: @comment-internal-margin;
      font-size: 15px;
      border-bottom: 1px solid @border-color;
    }

    .parent-preview {
      padding-bottom: 30px;

      p {
        font-size: 13px;
        font-style: italic;
        padding: 0px 14px;
      }
    }

    .body {
      color: @text-color;
    }

    .readmore, .readparent {
      border: none;
      background-color: transparent;
      outline: none;
      box-shadow: none;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      font-style: normal;
    }
  }
}
