{% from "_hearing_helpers.html" import render_hearing_list_item %}
{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
  <div class="home-page">
    <section class="featured-hearing">

    </section>

    <section class="latest-hearings">
      <h2><strong>Uusimmat kuulemiset</strong> ja kuulemisraportit</h2>
      <ul class="hearing-list">
      {% for hearing in latest_hearings %}
        {{ render_hearing_list_item(hearing) }}
      {% else %}
        <li class="empty-message">Palvelussa ei ole vielä yhtään kuulemista.</li>
      {% endfor %}
      </ul>
    </section>

    <section class="side-boxes">

    </section>
  </div>

{% endblock %}
