{% from "_hearing_helpers.html" import render_hearing_list_item %}
{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
  <div class="home-page">
    <strong class="lead">
      Kuulemispalvelu on lorem ipsum käsiteltäviin asioihin koko valmistelutyön ajan. Asioiden kommentointi onnistuu myös ilman tunnuksia. Klikkaa käynnissä oleva kysely auki ja jätä mielipiteesi!
    </strong>
    <section class="latest-hearings">
      <h2><strong>Uusimmat kuulumiset</strong> ja kuulemisraportit</h2>
      <ul class="hearing-list">
      {% for hearing in latest_hearings %}
        {{ render_hearing_list_item(hearing) }}
      {% else %}
        <li class="empty-message">Palvelussa ei ole vielä yhtään kuulemista.</li>
      {% endfor %}
      </ul>
    </section>
  </div>

{% endblock %}
