.login-box {
  padding: @layout-margin-medium;
  background-color: @yellow-light;

  h1 {
    font-size: 23px;
    font-weight: bold;
  }

  button {
    color: white;
    background-color: @blue-dark;
    margin-top: @layout-margin-mini;
    padding: 8px 50px 6px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
  }

  .form-actions {
    .make-column(10, 10, 10);
    .make-column-offset(2, 2, 2);
  }

  .register-info {
    margin-top: @layout-margin-small;
    font-size: 14px;
  }
}
