figure {
  img {
    width: 100%;
  }

  figcaption {
    padding: @layout-margin-mini @layout-margin-small;
    background-color: @blue-dark;
    font-weight: 300;
    color: white;
  }

  img + figcaption {
    background-color: @gray-background;
  }
}
