ul.tags {
  padding-left: 0;
  margin-bottom: 5px;
  li {
    margin-right: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
    padding: 4px 8px;
    display: inline-block;
    background-color: @background-color-dark;
    font-size: 12px;
    line-height: 12px;
    color: @tag-color;
  }
}
