footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  background-color: @footer-bg;
  color: @footer-color;

  a {
    color: @footer-link-color;
    &:hover {
        color: darken(@footer-link-color, 10%)
    }
  }

  > .container {
    padding-top: @footer-padding-vertical;
    padding-bottom: @footer-padding-vertical;
  }
  .footer {
    .make-row();
  }
  .footer-brand {
    font-size: 20px;
    font-weight: 500;
    .make-column(3, 3, 4);
  }
  .footer-links {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    .make-column(3, 3, 4);
    ul {
        padding-left: 0;
    }
    li {
        list-style: none;
    }
  }
  .footer-login {
    .make-column-offset(3, 3, 0);
    .make-column(3, 3, 4);
    text-align: right;
    font-weight: 300;
    ul.login {
        display: inline-block;
        padding-left: 0;
        .inline-list();
    }
  }
}
