.home-page {

  .featured-hearing {
    .make-fluid-column(left, @layout-column-width-medium + @layout-margin-medium);
  }

  .latest-hearings {
    .make-fluid-column(left, @layout-column-width-medium + @layout-margin-medium);

    h2 {
      border-top: 1px solid @border-color;
      margin-bottom: 40px;
      padding-top: 20px;
      font-weight: 300;
      strong {
        font-weight: bold;
      }
    }
  }

  .side-boxes {
    .make-fixed-column(right, @layout-column-width-medium);
  }
}
