.home-page {

  .featured-hearing {
    margin-bottom: @layout-margin-large;

    @media (min-width: @screen-md-min) {
      .make-fluid-column(left, @layout-column-width-large + @layout-margin-medium);
    }

    .tags {
      margin-top: @layout-margin-mini;
    }

    h2 {
      .klm-heading-medium;
      margin-bottom: 0;
      a {
        color: @text-color-soft;
      }
    }

    .info {
      float: right;
    }
  }

  .latest-hearings {

    @media (min-width: @screen-md-min) {
      .make-fluid-column(left, @layout-column-width-large + @layout-margin-medium);
    }

    h2 {
      margin-bottom: @layout-margin-medium;
    }
  }

  .side-boxes {
    margin-bottom: @layout-margin-large;

    @media (min-width: @screen-md-min) {
      .make-fixed-column(right, @layout-column-width-large);
    }

    .feedback-box {
      padding: @layout-margin-large @layout-margin-small;
      text-align: center;
      background-color: @yellow;

      h2 {
        .klm-heading-large;
        color: white;
      }
      p {
        .klm-heading-medium;
        color: white;
      }
      i {
        font-size: 30px;
      }
    }
  }
}
