.hearing-list {
  @image-width: 120px;
  @info-width: 170px;
  @horizontal-padding: @layout-margin-small;
  @vertical-padding: @layout-margin-mini;
  @line-height: 20px;
  @margin-bottom: 30px;

  .reset-list();

  > li {
    position: relative;
    margin-bottom: @margin-bottom;

    img {
      display: none;
      float: left;
      width: @image-width;

      @media (min-width: @screen-sm-min) {
        display: block;
      }
    }

    .tags {
      margin-bottom: 0;

      @media (min-width: @screen-sm-min) {
        padding-left: @image-width + @horizontal-padding;
      }
    }

    .content {
      padding-top: @vertical-padding;
      padding-bottom: @vertical-padding;

      @media (min-width: @screen-sm-min) {
        padding-right: @info-width + @horizontal-padding;
        padding-left: @image-width + @horizontal-padding;
      }

      h3 {
        .klm-heading-small;
        margin-bottom: 6px;
        a {
          color: @text-color-soft;
        }
      }
    }

    .info {
      position: absolute;
      right: 0;
      line-height: @line-height;
      width: @info-width;
      text-align: right;
      bottom: @vertical-padding;

      @media (min-width: @screen-sm-min) {
        top: 50%;
        margin-top: -(@line-height / 2);
      }

      .days-open {
        margin-right: @layout-margin-mini;
      }
    }

    &.empty-message {
      color: @text-color-soft;
      padding-top: @horizontal-padding;
    }
  }
}
