.hearing {
  .make-row();

  > header {
    .make-column(12, 12);
  }

  > aside {
    .make-column(2, 2, 2);
  }

  > .content {
    .make-column(10, 10, 10);

    section {
      & + section {
        border-top: 1px solid @border-color-dark;
        margin-top: 20px;
      }

      &.main-content {
        .make-row();
        position: relative;
        margin-top: 20px;

        .entry {
          .make-column(9, 9, 9);
        }

        aside {
          .make-column(3, 3, 3);
        }

        > a.collapser {
          position: absolute;
          right: 40px;
          top: 10px;
        }
      }
    }

    article.alternative {
      border-top: 1px solid @border-color;
      margin-top: 20px;

      section.summary {
        .make-row();
        position: relative;

        figure {
          .make-column(3, 3, 3);

          .option {
            @size: 60px;
            position: absolute;
            height: @size;
            width: @size;
            font-size: @size;
            line-height: @size;
            font-weight: 200;
            color: @text-color-soft;
            background-color: white;
            text-align: center;
          }
        }

        .entry {
          .make-column(8, 8, 8);
          p {
            font-size: 14px;
          }
        }

        a.collapser {
          .make-column(1, 1, 1);
          position: absolute;
          top: 50%;
          margin-top: -(@font-size-base / 2)
        }
      }
    }

    figure {
      img {
        width: 100%;
      }

      figcaption {
        padding: 10px 15px;
        background-color: @background-color-soft;
        color: @text-color-soft;
        font-weight: 300;
      }
    }

    .comments {
      .make-row();

      > header {
        .make-column(12, 12);
      }

      .latest-comments,
      .popular-comments {
        .make-column(6, 6, 6);
        border-top: none;
        margin-top: 30px;
      }
    }
  }
}
