html {
  position: relative;
  min-height: 100%;
}

body {
  position: static !important; // To make the sticky navbar work.
  transform: none !important; // To make the sticky navbar work.
  margin-bottom: @footer-mobile-height + @footer-margin;
  @media (min-width: @screen-sm-min) {
    margin-bottom: @footer-desktop-height + @footer-margin;
  }

  > .container {
    padding-top: @navbar-height + @navbar-margin-bottom-mobile;
    @media (min-width: @screen-md-min) {
      padding-top: @navbar-margin-bottom;
    }
  }

  .navbar > .container,
  footer > .container,
  > .container {
    width: 100%;
    padding-left: @layout-margin-small;
    padding-right: @layout-margin-small;

    @media (min-width: @screen-sm-min) {
      padding-left: @layout-margin-large;
      padding-right: @layout-margin-large;
    }

    @media (min-width: @max-container-width) {
      width: @max-container-width;
    }
  }
}
