.navbar {
  .navbar-header {
    margin-right: 20px;
  }
  .navbar-brand {
    .klm-heading-large;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: @navbar-height;
    color: white;

    img {
      margin-right: 10px;
      max-height: 70px;
    }
  }

  .navbar-nav > li > a {
    .klm-heading-smaller;
    color: white;
    max-width: 150px;

    &.navbar-info-link {
      max-width: 220px;
      padding: 0 @layout-margin-medium;
      padding-top: @navbar-padding-vertical;
      padding-bottom: @navbar-padding-vertical;

      .heading {
        display: block;
        margin-bottom: @layout-margin-mini;
      }

      .info {
        display: block;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-transform: none;
      }
    }

  }

  img {
    max-height: @navbar-height - 8px;
  }

  .profile-img {
    float: left;
    line-height: @navbar-height;
    a {
      line-height: @navbar-height;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .login {
    padding: @navbar-padding-vertical @navbar-padding-horizontal;
    font-weight: 300;
    color: @navbar-inverse-link-color;
    .inline-list();

    a {
      font-size: 14px;
      color: @navbar-inverse-link-color;
      &:hover {
        color: @navbar-inverse-link-hover-color;
      }
    }
  }
}
