// Navbar
@navbar-height: 45px;
@navbar-margin-bottom: 20px;
@navbar-inverse-color: white;
@navbar-inverse-bg: black;
@navbar-inverse-link-active-bg: #444;
@navbar-inverse-link-color: white;
@navbar-inverse-link-hover-color: white;

// Footer
@footer-height: 125px;
@footer-padding-vertical: 20px;
@footer-bg: #CCC;
@footer-link-color: white;
@footer-color: white;
