// Brand colors
//
@gray-lighter: #e1e1e1;
@gray: #c5c5c5;
@gray-dark: #767676;
@gray-darker: #484848;


// Element colors
//
@text-color: #000;
@text-color-dark: @gray-darker;
@text-color-soft: @gray-dark;

@background-color-dark: @gray;
@background-color-soft: @gray-lighter;
@tag-color: white;

@link-color: #009AFF;

@border-color: #000;
@border-color-dark: @gray-dark;
@border-color-soft: @gray;


// Layout
//
@layout-margin-large: 40px;
@layout-margin-medium: 28px;
@layout-margin-small: 16px;
@layout-margin-mini: 10px;

@layout-column-width-large: 600px;
@layout-column-width-medium: 220px;
@layout-column-width-small: 120px;
@layout-column-width-mini: 60px;


// Navbar
//
@navbar-height: 45px;
@navbar-margin-bottom: 20px;
@navbar-inverse-color: white;
@navbar-inverse-bg: black;
@navbar-inverse-link-active-bg: #444;
@navbar-inverse-link-color: white;
@navbar-inverse-link-hover-color: white;
@navbar-secondary-color: #AAA;


// Footer
//
@footer-height: 125px;
@footer-margin: 50px;
@footer-padding-vertical: 20px;
@footer-bg: #CCC;
@footer-link-color: white;
@footer-color: white;


// Comment
//
@comment-internal-margin: 8px;
@comment-external-margin: 20px;
@comment-padding: 18px;
