{% from "_hearing_helpers.html" import render_image %}
{% extends "layout.html" %}

{% macro render_comment(comment) %}
  <article class="comment" data-id="{{ comment.id }}">
    <h4>{{ comment.title }}</h4>
    <a href="#" class="like">
      <i class="fa fa-thumbs-o-up"></i>
      <span class="like_count">12</span>
    </a>
    <p class="info">{{ comment.created_at|datetimeformat }} &middot; {{ comment.username }}</p>
    <div class="body">
      {{ comment.body }}
    </div>
  </article>
{% endmacro %}

{% block title %}{{ hearing.title }}{% endblock %}

{% block content %}
  <article class="hearing">
    <header>
      <ul class="tags">
        <li>Opetus ja koulutus</li>
        <li>Kaavoitus</li>
        <li>Pikku-huopalahti</li>
      </ul>
      <h1>{{ hearing.title }}</h1>
    </header>

    <aside>
      Sisällys
      <div location-map latitude="60.17" longitude="24.95" polygon="60.168,24.947 60.173,24.947 60.168,24.952"></div>
    </aside>

    <div class="content">
      {{ render_image(hearing.main_image, 'Kuulemisen pääkuva') }}
      <section class="main-content">
        <div class="entry">
          <p class="lead">{{ hearing.lead }}</p>
          {{ hearing.body|safe }}
          {% for image in hearing.images %}
            {{ render_image(image, 'Kuulemisen kuva') }}
          {% endfor %}
        </div>
        <aside>
          Kerro mielipiteesi
        </aside>
      </section>
      {% if hearing.alternatives %}
        <section class="alternatives">
          <h2>Vaihtoehdot</h2>
          {% for alternative in hearing.alternatives %}
            <article class="alternative">
              <section class="summary">
                <figure>
                  <span class="option">{{ alternative.letter }}</span>
                  <img src="{{ alternative.main_image.image_url }}" alt="Vaihtoehdon pääkuva">
                </figure>
                <div class="entry">
                  <h3>{{ alternative.title }}</h3>
                  <p>{{ alternative.lead }}</p>
                </div>
                <a data-toggle="collapse" data-parent=".alternatives" href="#alternative-{{ alternative.id }}" class="collapser collapsed">
                </a>
              </section>
              <div class="collapse" id="alternative-{{ alternative.id }}">
                <section class="main-content">
                  <div class="entry">
                    {{ alternative.body|safe }}
                    {% for image in alternative.images %}
                      {{ render_image(image, 'Vaihtoehdon kuva') }}
                    {% endfor %}
                  </div>
                  <aside>
                    Kerro mielipiteesi
                  </aside>
                </section>
              </div>
            </article>
          {% endfor %}
        </section>
      {% endif %}

      <section class="comments">
        <header>
          <h2>Kommentit</h2>
          <p>
            Kuulemisen tavoitteena on taata kuntalaisille mahdollisuus vaikuttaa käsiteltäviin asioihin koko valmistelutyön ajan. Asioiden kommentointi onnistuu myös ilman tunnuksia. Klikkaa nappia ja jätä ensimmäinen kommenttisi!
          </p>
          <div comment-adder hearing-id="{{ hearing.id }}" context-list="{{ commentable_sections_string }}"></div>
        </header>
       <div comment-list hearing-id="{{ hearing.id }}"></div>
      </section>
    </div>
  </article>

{% endblock %}
