{% extends "layout.html" %}

{% block title %}{{ hearing.title }}{% endblock %}

{% block content %}
  <article class="hearing">
    <header>
      <ul class="tags"></ul>
      <h1>{{ hearing.title }}</h1>
    </header>

    <aside>
      Sisällys
    </aside>

    <div class="content">
      <figure>
        <img src="../static/images/ph1920.jpg" alt="">
        <figcaption>Kuva 1. Asemapiirros. Kuva: Arkkitehtitoimisto AJAK.</figcaption>
      </figure>
      <section class="main-content">
        <div class="entry">
          <p class="lead">{{ hearing.lead }}</p>
          <p>{{ hearing.body }}</p>
        </div>
        <aside>
          Kerro mielipiteesi
        </aside>
      </section>

      <section class="alternatives">
        <h2>Vaihtoehdot</h2>
        <article class="alternative">
          <h3>Vaihtoehto A</h3>
        </article>
        <article class="alternative">
          <h3>Vaihtoehto B</h3>
        </article>
      </section>

      <section class="comments">
        <h2>Kommentit</h2>
        <p>
          Kuulemisen tavoitteena on taata kuntalaisille mahdollisuus vaikuttaa käsiteltäviin asioihin koko valmistelutyön ajan. Asioiden kommentointi onnistuu myös ilman tunnuksia. Klikkaa nappia ja jätä ensimmäinen kommenttisi!
        </p>
        <h3>Uusimmat kommentit</h3>
        <article class="comment">
          <h4>Ensimmäinen kommentti</h4>
          <p>Lorem ipsum...</p>
        </article>
      </section>
    </div>
  </article>
{% endblock %}
